
.back{
    background-color:gray;
    font-size:medium;
    font-style: italic;
    color: white;
}
.inside{
    height: 200px;
    width: 200px;
    margin: 20px  20px;
    float: right;
      border-radius: 50px 50px 50px 50px;
}

#background{
    width: 200px;
    height: 200px;
}
#color{
    color: rgb(69, 236, 18);
}
.texts{
    color: blanchedalmond;
}
.emphasis{
    color: brown;
}
.rap{
    width: 320px;
    height: 180px;
}
.vocal{
    width: 320px;
    height: 180px;
}

.bdy{
    background-color: #2a232d
}
.topic{
    text-align: center;
    color: white;
    font-size: 50px;
}
.trending{
    font-size: 10px;
}
.box{
    font-size: 10px;
}
.container{
    position: relative;
    left: 130px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.subhead{
    text-align: center; 
    color: white; 
    font-size: 70px;
}
.input{
    color:grey;
    font-size: 20px;
    font-style: italic;
    height: 30px;
    width: 300px;
}
.search{
    color:white;
    font-size: 20px;
}
   

