
.back{
    background-color:gray;
    font-size:medium;
    font-style: italic;
    color: white;
}
.inside{
    height: 200px;
    width: 200px;
    margin: 20px  20px;
    float: right;
      border-radius: 50px 50px 50px 50px;
}

#background{
    width: 200px;
    height: 200px;
}
#color{
    color: rgb(69, 236, 18);
}
.texts{
    color: blanchedalmond;
}
.emphasis{
    color: brown;
}
.rap{
    width: 320px;
    height: 180px;
}
.vocal{
    width: 320px;
    height: 180px;
}
.son{
     position: relative; 
    bottom: 40px;
    left: 800px;
}
.bdy{
    background-color: #2a232d
}
.topic{
    text-align: center;
    color: white;
    font-size: 50px;
}
.p1{
    position: relative;
    left: 500px;
}
.p2{
    position: relative;
    bottom: 81px;
    left: 630px;
    font-size: 10px;
}
.box{
    position: relative;
    bottom: 58px;
    left: 800px;
    font-size: 10px;
}
.l2{
    color:white;
    position: relative;
    bottom: 35px;
    left: 630px;
    font-size: 20px;
}
.l3{
    color:grey;
    position: relative;
    bottom: 25px;
    left: 370px;
    font-size: 20px;
    font-style: italic;
    height: 30px;
    width: 300px;
}


