
.back{
    background-color:gray;
    font-size:medium;
    font-style: italic;
    color: white;
}
img{
    height: 200px;
    width: 200px;
    margin: 20px  20px;
    float: right;
      border-radius: 50px 50px 50px 50px;
}

#topic{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;
    padding: 20px 20px 20px 20px ;
    border-style: solid;
    border-radius: 0 20px 0px 20px;
}
#background{
    width: 200px;
    height: 200px;
}
#color{
    color: rgb(69, 236, 18);
}
.texts{
    color: blanchedalmond;
}
.emphasis{
    color: brown;
}
.rap{
     width: 230px;
     height: 180px;
}

